p.flashMessageerror {
	text-align: center;
	background-color: red;
	color: white;
	width: 90%;
	border-radius: 10px;
	margin: 100px auto 0 auto;
	padding: 20px;
	cursor: pointer;
}

p.flashMessagesuccess {
	text-align: center;
	background-color: green;
	color: white;
	width: 90%;
	border-radius: 10px;
	margin: 100px auto 0 auto;
	padding: 20px;
	cursor: pointer;
}

p.flashMessagepartialError {
	text-align: center;
	background-color: orange;
	color: white;
	width: 90%;
	border-radius: 10px;
	margin: 100px auto 0 auto;
	padding: 20px;
	cursor: pointer;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
